.instagramlogo{
    width: 42px;
    height: 42px;
    vertical-align: top;
    margin:11.25px -10px;
    float: right;
}

.facebooklogo{
    width: 45px;
    height: 47px;
    vertical-align: top;
    margin: 11.25px 10px;
    float: right;
}